@model ManageImageTest.Models.Image

@{
    ViewBag.Title = "Add Image";
}

<h2>Add Image</h2>

<!DOCTYPE html>
<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../assets/"
      data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

    <title>Add Image</title>

    <meta name="description" content="" />

    <link rel="icon" type="image/x-icon" href="../assets/img/favicon/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="../assets/vendor/fonts/boxicons.css" />
    <link rel="stylesheet" href="../assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="../assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="../assets/css/demo.css" />
    <link rel="stylesheet" href="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="../assets/vendor/libs/apex-charts/apex-charts.css" />
    <script src="../assets/vendor/js/helpers.js"></script>
    <script src="../assets/js/config.js"></script>
</head>

<body>


    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="content-wrapper">
                <div class="container-xxl flex-grow-1 container-p-y">
                    <div class="card">
                        <h5 class="card-header">Add Image</h5>
                        <div class="card-body">
                            <div class="mb-3">
                                <label for="formFile" class="form-label">Image Title</label>
                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            </div>
                            <div class="mb-3">
                                <label for="formFile" class="form-label">Image</label>
                                <input type="file" id="formFile" class="form-control">
                                <span class="fileValidation text-danger" data-valmsg-replace="true"></span>
                            </div>
                            <button type="submit" id="SaveImage" value="Save" " class="btn btn-primary">Add</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layout-overlay layout-menu-toggle"></div>
        </div>
    </div>
    <script src="../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../assets/vendor/libs/popper/popper.js"></script>
    <script src="../assets/vendor/js/bootstrap.js"></script>
    <script src="../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="../assets/vendor/js/menu.js"></script>
    <script src="../assets/vendor/libs/apex-charts/apexcharts.js"></script>
    <script src="../assets/js/main.js"></script>
    <script src="../assets/js/dashboards-analytics.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</html>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            $('#SaveImage').click(function () {
                var fileUpload = $("#formFile").get(0);
                var file = fileUpload.files[0];
                var isError = false;

                if ($("#Title").val().trim() == "") {
                    $(".field-validation-valid").text("Please enter Title");
                    isError = true;
                }
                else {
                    $(".field-validation-valid").text("");
                }
                if (fileUpload.files.length == 0) {
                    $(".fileValidation").text("Please Choose an Image");
                    isError = true;
                }
                else {
                    var sizeKB = file.size / 1024;
                    if (sizeKB > 5000) {
                        $(".fileValidation").text("File size is greater than 5 MB");
                        $("#formFile").val("");
                        isError = true;
                    }
                    else if (!file.type.match('image.*')) {
                        $(".fileValidation").text("This format is not supported");
                        $("#formFile").val("");
                        isError = true;
                    }
                    else {
                        $(".fileValidation").text("");
                    }
                }
                if (!isError) {
                    if (window.FormData !== undefined) {

                        var fileData = new FormData();
                        fileData.append('imageUploadForm', file);
                        $.ajax({
                            url: '/Image/AddImage?title=' + $("#Title").val(),
                            type: "POST",
                            contentType: false,
                            processData: false,
                            data: fileData,
                            success: function (result) {
                                location.href = '/Image/Index';
                            },
                            error: function (err) {
                                alert(err.statusText);
                            }
                        });
                    } else {
                        alert("FormData is not supported.");
                    }
                }
            });
        });
    </script>
}

